@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111827;
  --card: #ffffff;
  --border: #94a3b8; 
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --border: #27272a;
}

@theme inline {
  --color-app-bg: var(--background);
  --color-app-fg: var(--foreground);
  --color-card-bg: var(--card);
  --color-card-border: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}